[Unit]
Description="Puma server"
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=always
User=appuser
EnvironmentFile=/home/appuser/db_config
WorkingDirectory=/opt/reddit
ExecStart=/usr/local/bin/puma
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target

