[Unit]
Description="Puma server"
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=always
Environment=DATABASE_URL=reddit-db:27017
WorkingDirectory=/opt/reddit
ExecStart=/usr/local/bin/puma
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target

